body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: Regular;
    line-height: 1.42;
}

h1 {
    font-family: 'Vidaloka';
    font-size: 20px;
    font-weight: 500;
    font-style: bold;
    line-height: 1.42;
}

p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: Regular;
    line-height: 1.42;
}

.text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: Regular;
    line-height: 1.42;
}